.overhidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 顶部海报 */
.header {
    position: relative;
    height: 21.1rem;
}
/* 返回按钮 */
.header .bd {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: url(https://static3w.kuaikanmanhua.com/static/img/webmobile/icon-back2_61f67ea.png) no-repeat center /1rem rgba(0,0,0,.6);
    border-radius: 3rem;
    left: 1rem;
    top: 1rem;
}
.header .hd{
    height: 100%;
    overflow: hidden;
}
.header .hd img {
    width: 100%;
    vertical-align: middle;
}
.header .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(https://static3w.kuaikanmanhua.com/static/img/mobile/icon_cover_mask_6352fca.png) repeat-x 0 100%;
    background-size: contain;
    width: 100%;
    height: 12rem;
}
.header .ft {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
}
/* 标题 */
.header .ft .ft-title {
    line-height: 2rem;
}
.header .ft .ft-title span {
    width: 100%;
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    box-sizing: border-box;
    padding: 0 1.2rem;
    font-weight: bold;
}
.header .ft .ft-content {
    padding: .8rem 0;
}
.header .ft .ft-content div {
    float: left;
}
.header .ft .ft-content .ft-content-follow span {
    width: 16.3rem;
    padding-left: 1.2rem;
    display: block;
}

.header .ft .ft-content span {
    display: inline-block;
    font-size: 1.6rem;
    color: #d0cfd0;
}
.header .ft .ft-content .info {
    float: right;
    height: 2.4rem;
}
.header .ft .ft-content .ft-content-praise {
    padding: 0 1rem;
    height: 2.4rem;
    line-height: 2.6rem;
}
.header .ft .ft-content .ft-content-praise span {
    max-width: 5.2rem;
    padding: 0 0 0 2.4rem;
    background: url(https://static3w.kuaikanmanhua.com/static/img/webmobile/icon-praise-white-v2_308ee48.png) no-repeat 0 0;
    background-size: 1.8rem;
    line-height: 1.6rem;
}
.header .ft .ft-content .ft-content-message {
    padding-right: .8rem;
    height: 2.4rem;
    line-height: 2.6rem;
}
.header .ft .ft-content .ft-content-message span {
    max-width: 5.2rem;
    padding: 0 0 0 2.4rem;
    background: url(https://static3w.kuaikanmanhua.com/static/img/webmobile/icon-message-v2_6936d3f.png) no-repeat 0 0;
    background-size: 1.8rem;
    line-height: 1.6rem;
}
.clearfix:after, .clx:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* 操作条，控制目录顺序是正序还是倒叙 */
.operator{
    position: relative;
    left: 0;
    top: 0;
    z-index: 999;
    background: #FAFCFC;
    height: 4.5rem;
    /* border-bottom: 1px solid #e5e5e5; */
    color: #aaaaaa;
    font-size: 1.4rem;
    line-height: 4.5rem;
    text-align: left;
    padding: 0 1rem;
}
.operator .btn{
    float: right;
}
/* 目录样式 */
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.content-container {
    padding-bottom: 7rem;
}
.content-container ul li {
    width: 100%;
    padding: 0;
    /* border-bottom: 1px solid #e5e5e5; */
}
.content-container .item {
    padding: 1rem;
    text-align: left;
}
/* 左边的样式 */
.content-container .item .item-left {
    width: 12.2rem;
    height: 6.9rem;
    float: left;
    border: 1px solid #eee;
}
/* 左边图片 */
.content-container .item .item-left .img{
    width: 100%;
    height: 100%;
}
/* 右边的样式 */
.content-container .item .item-right {
    height: 7rem;
    padding-left: 13rem;
    position: relative;
    font-size: 1.6rem;
    line-height: 2.88rem;
}
/* 标题 */
.content-container .item .item-right .title{
    margin: 0;
}
/* 信息 */
.content-container .item .item-right .info {
    line-height:1.6rem;
    width: 22rem;
    padding-top: 1.6rem;
}
/* 更新 */
.content-container .item .item-right .info .info-update {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: #999;
}
/* 点赞 */
.content-container .item .item-right .info .praise {
    float: right;
}
/* 点赞数 */
.content-container .item .item-right .info .info-cnt {
    display: inline-block;
    font-size: 1.6rem;
    color: #999;
    vertical-align: bottom;
    max-width: 5.2rem;
}
/* 阅读按钮 */
.start-btn {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e5e5e5;
}
.start-btn div {
    height: 7rem;
    line-height: 7rem;
    text-align: center;
}
.start-btn .btn {
    color: #fff;
    background: #febd2c;
    width: 220px;
    display: block;
    line-height: 7rem;
}
.start-btn .title {
    flex: 1;
    background: #fff;
}