/* 头部控制菜单 */
.menu-bar {
  width: 100%;
  position: relative;
  background-color: #f8f7f7;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(208,208,208,1);
}
.menu-bar .back {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: url(https://static3w.kuaikanmanhua.com/static/img/mobile/icon_back_dd1086f.png) no-repeat 0 0;
  background-size: contain;
  left: 1.6rem;
  top: 1rem;
  text-indent: -9999px;
}
.menu-bar .tit {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #241c09;
}
.menu-bar .goto {
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  right: .8rem;
  top: 1.2rem;
  color: #ffba15;
}
/* 内容 */
.content{
  width: 100%;
}
.content img{
  width: 100%;
  display: block;
}
/* 操作栏 */
.operator{
  width: 100%;
  background: #fff;
}
.operator .operator_top, .operator .operator_bottom{
  height: 5rem;
  border-bottom: 1px solid #e2dcdc;
}
.operator .operator_bottom{
  display: flex;
  font-size: 1.7rem;
  text-align: center;
  line-height:5rem;
  padding: 1.25rem 0;
}
.operator .operator_bottom div{
  flex: 1;
}
.operator .operator_bottom div:nth-child(1){
  border-right: 1px solid #d6d9dc;
  box-sizing: border-box;
}
.zanshang{
  display: inline-block;
  width: 100%;
  height: auto;
}