/* 漫画封面图 */
.book{
    width: 11rem;
    height: 16rem;
    margin-bottom: .75rem;
    position: relative;
}

.book .book_image{
    height: 100%;
    position:absolute;
    left: 0;
    clip:rect(0 11rem 16rem 0);
}
/* 书籍标题 */
.tit{
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .3rem;
    box-sizing: border-box;
    z-index: 22;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 1.25rem;
}